body
{
	width: 100%;
	min-height: 100%;
	margin : auto;
}

/*Titres*/
.titre2
{
	border-bottom: 2px solid #feca07;
	padding-bottom: 10px;

}
.titre1
{
	margin-top: 0;
	background-color: grey;
	color: #feca07;
}
h2 span
{
	color: #feca07;
	margin-right: 20px;
	margin-left: 20px;
}
#titre strong
{
	color: #feca07;
}
u
{
	text-decoration-color: #feca07;
}



/*En-tête*/
header
{
	display: flex;
}
h1
{
	text-transform: uppercase;
	margin-left: 2em;
	margin-top: 3em;
}
header p
{
	margin-left:1em;
}
#photo
{
	display : flex;
	width: 32%;
	background-color: #feca07;
	justify-content: center;
	align-items: center;
}
#wonderboy
{
	width : 8em;
	height: 8em;
    border-radius: 50%;
	box-shadow: 5px 2px 2px black;
}

/*Section*/
#bloc
{
	display: flex;
	flex-direction: row;
}
#section_gauche
{
	display: flex;
	flex-direction: column;
	width : 32%;
	background-color: #feca07;
}
#section_droite
{
	display: flex;
	flex-direction: column;
	width: 68%;
}