body{
	max-width: 1190px;
	margin : auto;
	font-family: Calibri, Arial, sans-serif;
	background-color: #FAFAFA;
}


/*----------------------------------En-tête------------------------------*/
header{
	display: flex;
}
h1{
	text-transform: uppercase;
	font-size : 2.7em;
	margin-left: 2em;
	margin-top: 1.7em;
	margin-bottom: -0.5em;
	font-family : 'Calibri Light';
}
header p{
	margin-left:3.5em;
	font-size: 1.5em;
}
u{
	text-decoration-color: #feca07;
}
h1 strong{
	color: #feca07;
}
#photo{
	
	display: flex;
	width: 32%;
	background-color: #2196F3;
	align-items: center;
	justify-content: center;
	border-top-right-radius: 10px;
}
#wonderboy{
	width : 10em;
	height: 10em;
    border-radius: 50%;
	box-shadow: 5px 2px 2px black;
	margin: 20px;
}



/*-------------------------Sections-----------------------------*/
main{
	display: flex;
	flex-direction: row;
	width: 100%;
}
h2 span{
	color: #feca07;
	margin-right: 20px;
	margin-left: 10px;
	vertical-align: middle;
}


/*-------------------------Section gauche------------------------*/
#section_gauche{
	display: flex;
	flex-direction: column;
	width : 32%;
	background-color: #2196F3;
	border-bottom-right-radius: 10px;
}
.titre1{
	margin-top: 0;
	background-color: #3E2723;
	color: #feca07;
	font-family : Helvetica;
	text-transform: uppercase;
	font-size: 1.1em;
	text-align: center;
	padding: 4px;

}
#contact p, #propos p{
	margin: 50px;
	text-align: justify;
}
#propos{
	height: 780px;
}
#loisirs{
	margin-top: -20px;
	margin-bottom: 20px;
}
#icones_loisirs{
	text-align: center;
}
#icones_loisirs span{
	font-size: 2em;
	margin-left: 20px;
	margin-rigth: 20px;
}

/*-------------------------Section droite-------------------------*/
#section_droite{
	display: flex;
	flex-direction: column;
	width: 68%;
}
.titre2{
	border-bottom: 3px solid #feca07;
	padding-bottom: 10px;
	font-family : Helvetica;
	text-transform: uppercase;
	margin-left: 60px;
	width: 70%;
}
#formations td, #experiences td{
	font-style: normal;
	padding-right: 150px;
}
table{
	margin-left: 62px;
}
#formations td span, #experiences td span
{
	font-size: 0.6em;
	margin-right: 10px;
	color: #2196F3;
}
#competences td span{
	font-size: 2.2em;
}
#competences td{
	text-align: center;
	font-weight: bold;
	padding-left: 45px;
}
.fa-html5{
	color: #DE4B25;
}
.fa-css3-alt{
	color: #3595CE;
}
.fa-js-square{
	color: #E8D34D;
	background-color: black;
}
.fa-github{
	color: #1A1E22;
}

/*-------------------------Media Queries-------------------------*/
@media screen and (max-width: 1024px){
	/*--HEADER--*/
	header{
		flex-direction: column;
		background-color: #2196F3;
		border-bottom-right-radius: 20px; 
		border-bottom-left-radius: 20px;
		box-shadow: 4px 4px 8px
	}
	h1{
		font-size : 2.3em;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		margin-top: -17px;
	}
	header p{
		font-size : 1.2em ;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	#photo{
		width: 100%;
		justify-content: center;
	}
	#wonderboy{
		width : 8em;
		height: 8em;
	}
   	/*--Sections--*/
	main{
		flex-direction: column;
	}

   	/*Section gauche--*/
	#section_gauche{
		width : 100%;
		order: 2;
		border-bottom-right-radius: 0px;
	}
	#contact p, #propos p{
	margin: 20px;
	text-align: justify;
}
	#propos{
		height: auto;
	}
	#contact{
		order: 3;
	}
	#contact p{
		text-align: center;
	}
	#section_droite{
		order: 1;
		width: 100%;
	}
	table{
		margin-left: 30px;
	}
	#formations td, #experiences td{
		padding-right: 75px;
	
	}
	#competences td{
		padding-left: 17px;
		padding-right: 17px;
	}
	#competences table{
		
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		padding-left: 0px;
	}
	.titre2
	{
		
		margin-left: auto;
		margin-right: auto;
		width : 80%;
		text-align: center;
	}
}
@media screen and (max-width: 584px){
	h1{
		font-size: 1.9em;
	}
	header p{
		font-size: 1em;
	}
	.titre1, .titre2{
		font-size: 1.1em;
	}
	#competences td span{
		font-size: 1.8em;
		padding-left: 5px;
		padding-right: 5px;
	}
	#competences td{
		font-size: 0.8em;
	}
	#formations td, #experiences td{
		padding-right: 25px;
	
	}
}
